body{
	background: url("../img/background2.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.tweets{
	margin: 20px auto;
}


.tweet{
	margin: 10px auto;
	background-color: white;
	width: 500px;
	border: 1px groove;
	border-radius: 5px;
	padding: 10px;
	display: block;
}

.tweetUser{
	color: rgb(66,122, 237);
}
.tweetUser:hover {
	text-decoration: underline;
}

.tweetMessage{
	padding: 5px 20px;
	border: 1px ridge;
	margin: 5px 0;
}
.tweetTime{
	text-align: right;
}

